// main: style.scss

$primary: #282C34;


html {
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(248, 248, 248);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;

    @media (min-width: 576px) {
        padding: 0 30px;
    }

    @media (min-width: 768px) {
        padding: 0 60px;
    }
}

.table {
    box-shadow: 2px 2px 4px rgba(black, .2), -3px -3px 3px rgba(white, 1);
    transition: all .3s ease;

    &--success {
        box-shadow: 0 0 10px rgb(52, 199, 89);
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}